.creationContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  
  margin-bottom: 2rem;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.header {
  font-family: "DM Sans";
  font-size: 1.728rem;
  font-size: clamp(1.728rem, 1.4736rem + 1.272vw, 3rem);
  font-weight: 900;
  color: #231f20;
  cursor: default;
  
}

.subheader {
  display: none;
  font-size: 1.725rem;
  cursor: default;
}

.latestCreationCard {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  background-color: white;
  border-radius: 0.75rem;
  padding: 1.25rem;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  transition: all 0.3s ease;
}

.latestCreationCard:hover {
  border: 1px solid #a4a4a4;
}

.latestCreationCard img {
  height: 8rem;
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.productName {
  font-size: 0.833rem;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.price {
  font-size: 0.833rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
}

.productDesc {
  font-size: 0.833rem;
  color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.mobileTag {
  display: block;
}

.tag {
  
  display: none;
  align-self: flex-start;
  border-radius: 50px;
  background-color: #cce6fe;
  color: #1a3d66;
  padding-inline: 0.75rem;
  padding-block: 0.25rem;
  font-size: 0.833rem;
}

.mobileTag {
  display: flex;
}

.viewMoreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #efefef;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  padding-inline: 1.25rem;
  padding-block: 1rem;
  font-size: 1rem;
  font-family: "DM Sans";
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;
  transition:all 0.3s ease;
}

.viewMoreBtn:hover{
  background-color: #dedede;
  /* transform: scale(1.03);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); */
}

/* TAGS */


.bestSeller {
  background-color: #d6f5d5;
  color: #145214;
}
.favorite {
  background-color: #ffd6e7;
  color: #661a33;
}
.limited {
  background-color: #fff5cc;
  color: #665200;
}
.recommended {
  background-color: #ffe0cc;
  color: #663d1a;
}
.new {
  background-color: #cce6fe;
  color: #1a3d66;
}

/* 368px */
@media (min-width: 23rem) {
}
/* 640px */
@media (min-width: 40rem) {
  .cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .latestCreationCard {
    flex-direction: column;
  }

  .latestCreationCard img {
    height: 10rem;
  }
}

/* 768px */
@media (min-width: 48rem) {
  .cardsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* 1024px */
@media (min-width: 64rem) {
  
  .subheader {
    display: block;
    /* font-size: 1.725rem; */
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.7);
  }
  .cardsContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .latestCreationCard {
    padding: 1.5rem;
  }

  .productDesc {
    -webkit-line-clamp: 3;
  }

  .productName {
    font-size: 1rem;
  }

  .price {
    font-size: 1rem;
  }

  .productDesc {
    font-size: 1rem;
    /* font-size: 0.833rem; */
  }

  .tag {
    position: absolute;
    display: inline-flex;
    align-self: flex-start;
    border-radius: 50px;
    background-color: #cce6fe;
    color: #1a3d66;
    padding-inline: 0.75rem;
    padding-block: 0.25rem;
    font-size: 1rem;
  }

  .mobileTag {
    display: none;
  }

  .viewMoreBtn {
    max-width: 12.5rem;
  }

  /* .creation-container {
   align-items: center;
  } */
}

/* 1280px */
@media (min-width: 80rem) {
  .latest-creation-card img {
    height: 12rem;
  }
}

/* 1536px */
@media (min-width: 96rem) {
  /* .latest-creation-card img {
    height: 13rem;
  } */
}
