.creationContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  /* background-color: rgba(255, 0, 0, 0.2); */
  margin-bottom: 2rem;
}

.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
}

.header {
  font-family: "DM Sans";
  font-size: 1.728rem;
  font-size: clamp(1.728rem, 1.4736rem + 1.272vw, 3rem);
  font-weight: 900;
  color: #231f20;
  /* background-color: rgba(0, 255, 0, 0.2); */
  cursor: default;
}

.latestCreationCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: white;
  border-radius: 0.75rem;
  padding: 0.75rem;
  border: 1px solid #e4e4e4;
  /* border: 1px solid red; */
  cursor: pointer;
  transition: all 0.3s ease;
}

.latestCreationCard:hover {
  border: 1px solid #a4a4a4;
}

.latestCreationCard img {
  height: 7.19rem;
}

.productDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  /* border: 1px solid red; */
  width: 100%;
}

.productName {
  font-size: 0.833rem;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bestSeller {
  position: absolute;
  display: inline-flex;
  align-self: flex-start;
  border-radius: 50px;
  background-color: #d6f5d5;
  color: #145214;
  padding-inline: 0.75rem;
  padding-block: 0.25rem;
  font-size: 0.833rem;
}

.favorite {
  position: absolute;
  display: inline-flex;
  align-self: flex-start;
  border-radius: 50px;
  background-color: #ffd6e7;
  color: #661a33;
  padding-inline: 0.75rem;
  padding-block: 0.25rem;
  font-size: 0.833rem;
}

.recommended {
  position: absolute;
  display: inline-flex;
  align-self: flex-start;
  border-radius: 50px;
  background-color: #ffe0cc;
  color: #663d1a;
  padding-inline: 0.75rem;
  padding-block: 0.25rem;
  font-size: 0.833rem;
}

.mobileTag {
  display: flex;
}

/* 368px */
@media (min-width: 23rem) {
}
/* 640px */
@media (min-width: 40rem) {
  .cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .latestCreationCard {
    flex-direction: column;
  }

  .latestCreationCard img {
    height: 10rem;
  }
}

/* 768px */
@media (min-width: 48rem) {
  .cardsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* 1024px */
@media (min-width: 64rem) {
  .cardsContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .latestCreationCard {
    padding: 1.5rem;
  }

  .productName {
    font-size: 1rem;
  }
}

/* 1280px */
@media (min-width: 80rem) {
  .latest-creation-card img {
    height: 12rem;
  }
}

/* 1536px */
@media (min-width: 96rem) {
}
