
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme {

  /* COLORS */
  --color-bg-white: #fbfbfb;
  --color-text-secondary: rgba(0,0,0,.40);
  --color-text-primary: #231F20;

  /* MOBILE SPACING */
  --spacing-xscreen-margin: 2.25rem;
  --spacing-yscreen-margin: 1rem;

  /* FONT FAMILY*/

  --font-family-spgothic: 'Special Gothic Expanded One';
  --font-family-dmsans: 'DM Sans';

  /* FONT SIZE */

  --text-huge: 1.75rem;
  --text-huge--line-height: 1;

  --text-huger: 6.25rem;
  --text-huger--line-height: 1;

  

}

@layer base {
  body {
    @apply bg-gray-50
  }
}

@layer components {
  .primary-btn{
    @apply bg-[#231F20] text-white font-family-dmsans  px-5 py-3 rounded-full font-bold flex items-center justify-center gap-2 
  }

  .secondary-btn{
    @apply bg-[#efefef] text-[rgba(0,0,0,.70)] font-family-dmsans  px-5 py-3 rounded-full font-bold flex items-center justify-center gap-2 
  }
}

