@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Special+Gothic+Expanded+One&display=swap");

.container {
  padding-inline: 2.25rem;
  padding-block: 1rem;
  max-width: 90rem; /* 1440px */
  margin-inline: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === 368px === */
@media (min-width: 23rem) {
}
/* === 640px === */
@media (min-width: 40rem) {
}

/* === 768px === */
@media (min-width: 48rem) {
  .container {
    padding-inline: 4rem;
  }
}

/* === 1024px === */
@media (min-width: 64rem) {
}

/* === 1280px === */
@media (min-width: 80rem) {
  .container {
    padding-inline: 6rem;
  }
}

/* === 1536px === */
@media (min-width: 96rem) {
  .container {
    padding-inline: 6rem;
  }
}
