.header {
  font-family: "DM Sans";
  font-size: 1.728rem;
  font-size: clamp(1.728rem, 1.4736rem + 1.272vw, 3rem);
  font-weight: 900;
  color: #231f20;
}

.image{
  width: 100%;
}

.address{
  display: flex;
  gap: 0.5rem;
}